/* ERROR */

.error .error_content {
  max-width: 600px;
  margin: 0 auto;
}

.error form {
  max-width: 500px;
  margin: auto;
}

.error h1 {
  font-weight: 700;
  font-size: 130px;
  letter-spacing: 5px;
  color: #232121;
}

.error h2 {
  font-size: 28px;
  font-weight: 600;
  color: #232121;
}

.error .form-control {
  color: rgba(22, 28, 45, 0.7);
  background-color: #f7f7f7;
  padding: 12px 120px 12px 25px;
  font-size: 18px;
  line-height: 28px;
  height: 55px;
  display: block;
  font-weight: 500;
  border: 1px solid #ced4da;
  margin-right: 20px;
}

.error button {
  width: 100%;
  padding: 0 40px;
  height: 55px;
  font-size: 18px;
  font-weight: 600;
}

.error .form-control::placeholder {
  color: #6c757d;
}

.error .error_content a {
  font-size: 18px;
  font-weight: 600;
  display: inline-block;
  color: #232121;
  letter-spacing: 0;
}

.error .error_content a:hover {
  color: #ff6600;
}
