/* BANNER_CONTACT */

.banner_contact {
  background: linear-gradient(to right, rgb(236 98 6 / 98%), rgb(5 3 0 / 83%)),
    url(../img/banner2.jpg) fixed no-repeat center / cover;
  height: 48vh;
  font-size: 18px;
}

.banner_contact a {
  color: #ff6600;
  font-weight: 600;
}

/* END BANNER_CONTACT */
