/* CONTACT_US */

.contact_us_content .form-control {
  background-color: #f7f7f7;
}

.contact_us_content .col-12 textarea {
  min-height: 200px;
}

/* END CONTACT CSS */

/* FIND US */

.find_us .find_left_content i {
  font-size: 20px;
  color: #ff6600;
}

.find_us h5 {
  font-size: 20px;
  line-height: 24px;
  color: #232121;
  margin-bottom: 0;
}

.find_us .find_left_content .text:hover {
  text-decoration: underline;
}

.find_us .col-9 iframe {
  border-radius: 6px;
  background-color: #f7f7f7;
  padding: 10px;
}

/* END FIND US */
