/* BANNER_CONTACT */

.banner_contact {
  background: linear-gradient(to right, rgb(236 98 6 / 98%), rgb(5 3 0 / 83%)),
    url(../img/banner2.jpg) fixed no-repeat center / cover;
  height: 48vh;
  font-size: 18px;
}

.banner_contact a {
  color: #ff6600;
  font-weight: 600;
}

/* END BANNER_CONTACT */

/*  */

/* FEATURE */

.feature .feature_box {
  padding: 40px;
  border: 1px solid #eee;
  box-shadow: 0 25px 98px 0 rgba(0, 0, 0, 0.03);
  transition: all 0.5;
}

.feature .feature_box:hover {
  box-shadow: 0 25px 98px 0 rgba(0, 0, 0, 0.1);
}

.feature .feature_box a {
  font-size: 24px;
  font-weight: 600;
  display: block;
  color: #232121;
}

.feature .feature_box a:hover {
  color: #ff6600;
}

.feature .feature_box i {
  width: 70px;
  height: 70px;
  line-height: 70px;
  text-align: center;
  font-size: 25px;
  border-radius: 10px;
  color: #ff6600;
  background-color: rgba(130, 115, 252, 0.05);
  transition: all 0.5s;
}

.feature .feature_box:hover i {
  color: white;
  background-color: #ff6600;
}

/* ENDFEATURE */

/* TASTE  */

.taste {
  background: url(../img/banner2.jpg) no-repeat center / cover;
  color: white;
  text-align: center;
  position: relative;
  z-index: 1;
}

.taste::before {
  content: "";
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgb(16 15 19 / 66%);
  position: absolute;
  z-index: -1;
}

.taste .taste_content h2 {
  font-size: 45px;
  line-height: 55px;
  font-weight: 600;
  color: white;
}

/* END TASTE  */

/* MENU  */

.dish_price {
  color: #fb6102;
  font-weight: 600;
}

.menu_dish {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
  border-bottom: 2px dotted #bbb;
}

/* ENDMENU */
