* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Quicksand", sans-serif;
  text-align: left;
  color: #212529;
}

a {
  text-decoration: none;
  background-color: transparent;
  transition: all 0.5s;
}

/* LIBRARY */

.container {
  max-width: 1200px;
}

.btn {
  padding: 12px 45px;
  line-height: 30px;
  font-weight: 700;
  transition: all 0.5s;
}

.btn_white {
  color: white;
  border: 2px solid white;
}

.btn_orange {
  color: white;
  background-color: #ff6600;
  border: 2px solid transparent;
}

.btn_white:hover {
  color: #ff6600;
  background-color: white;
  border: 2px solid white;
}

.btn_orange:hover {
  color: white;
  background-color: #ff6600;
  border: 2px solid #ff6600;
  opacity: 0.8;
}

.sub_title {
  font-family: "Pacifico", cursive;
  color: #ff6600;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 1px;
  display: inline-block;
}

.title {
  font-size: 38px;
  line-height: 48px;
  font-weight: 600;
}

.text {
  font-size: 18px;
  line-height: 28px;
  color: rgba(22, 28, 45, 0.7);
}

.form-control {
  color: rgba(22, 28, 45, 0.7);
  border-color: transparent;
  font-size: 18px;
  line-height: 28px;
  padding: 12px 20px;
}

.form-control:focus {
  border: 1px solid #ff6600;
  background-color: white;
  box-shadow: none;
}

/* TOGGLE DARK THEME */

.dark .toggle .fa-moon {
  display: none;
}

.dark .toggle .fa-sun {
  display: block;
}

.dark#dark,
.dark .products,
.dark .social a {
  background-color: #282828;
}

.dark .form-control,
.dark .feature {
  background-color: #232220;
  caret-color: #a5a2a1;
}

.dark .feature .feature_box {
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.dark .title,
.dark .feature .feature_box a,
.dark .error a {
  color: rgb(238, 238, 238);
}

.dark .text {
  color: rgb(194, 208, 218);
}

.dark .form-control::placeholder,
.dark .navbar .fa-search {
  color: #a5a2a1;
}

.dark .find_us iframe {
  filter: grayscale(100%);
  background-color: #282828;
}

.header_overlay.hide {
  visibility: visible;
  z-index: 9999;
}

/* HEADER */

header .title {
  font-size: 36px;
  font-weight: 700;
}

header .navbar_right .fa-search {
  right: 20px;
  top: 16px;
}

header .navbar_right .fa-moon,
header .navbar_right .fa-sun {
  font-size: 25px;
  color: white;
  margin: 0 30px 0 20px;
}

header .navbar_right .fa-sun {
  display: none;
}

header .navbar .form-control {
  height: 45px;
  border: 1px solid transparent;
}

header .form-control:focus {
  box-shadow: none;
}

/* OVERLAY */

header .navbar .overlay_hide,
header .navbar .toggle {
  outline: none;
  border: none;
  background: none;
  font-size: 30px;
  color: #fbfdfb;
}

header .header_overlay {
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  background: rgb(6 3 0 / 77%);
}

header .header_overlay .overlay_close {
  width: 40px;
  height: 40px;
  position: absolute;
  right: 40px;
  top: 40px;
  overflow: hidden;
  border: none;
  color: white;
  background-color: #ff6600;
}

header .header_overlay .nav-link {
  font-size: 20px;
  font-weight: 600;
  color: white;
}

header .header_overlay .nav-link:hover {
  color: #ff6600;
}

/* END HEADER */

/*  */

/* BANNER */

.banner {
  background: linear-gradient(to right, #ff6600, hsl(30deg 100% 1% / 20%)),
    url(../img/banner1.jpg) no-repeat;
  background-position: initial;
  background-size: cover;
  height: 700px;
}

.banner .banner_content {
  max-width: 600px;
}

.banner h3 {
  font-size: 54px;
  line-height: 64px;
  font-weight: 600;
  text-transform: capitalize;
}

/* END BANNER */

/*  */

/* ABOUT_US */

/* END ABOUT_US */

/*  */

/* TABLE_BOOK */

.table_book {
  background-color: #ff6600;
}

.table_book .table_book_left .left_img {
  background: url(../img/banner3.jpg) no-repeat center / cover;
}

.table_book .table_book_left .left_img::before {
  content: "";
  background: rgb(16 15 19 / 46%);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.table_book .right_bottom i {
  width: 70px;
  height: 70px;
  line-height: 70px;
  text-align: center;
  font-size: 25px;
  border-radius: 5px;
  background-color: white;
  color: #ff6600;
  display: block;
  transition: all 0.3s;
}

.table_book p {
  color: #ffcead;
}

.right_bottom-right:hover i,
.right_bottom-left:hover i {
  color: #ffc600;
}

/* END TABLE_BOOK */

/*  */

/* PRODUCTS */

.products {
  background-color: #f7f7f7;
}

.products .products_text {
  position: absolute;
  bottom: 0;
  left: auto;
  padding: 15px 50px;
}

.products .products_text .text {
  color: #ffc600;
  font-weight: 600;
  letter-spacing: 1px;
}

.products .products_text .products_text_title {
  font-size: 22px;
  font-weight: 700;
  line-height: 30px;
  color: white;
}

.products .row .products_img::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 40%;
  width: 100%;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0,
    rgba(0, 0, 0, 0.53) 69%,
    rgba(0, 0, 0, 0.76) 100%
  );
}

.products .row .products_img img {
  transition: all 0.5s;
}

.products .row .products_img img:hover {
  opacity: 0.85;
}

/* END PRODUCTS */

/*  */

/* FEATURE */

.feature .feature_box {
  padding: 30px;
  border: 1px solid #eee;
  box-shadow: 0 25px 98px 0 rgba(0, 0, 0, 0.03);
  transition: all 0.5s;
}

.feature .feature_box:hover {
  box-shadow: 0 25px 98px 0 rgba(0, 0, 0, 0.1);
}

.feature .feature_box a {
  font-size: 24px;
  font-weight: 600;
  display: block;
  color: #232121;
}

.feature .feature_box a:hover {
  color: #ff6600;
}

.feature .feature_box i {
  width: 70px;
  height: 70px;
  line-height: 70px;
  text-align: center;
  font-size: 25px;
  border-radius: 10px;
  color: #ff6600;
  background-color: rgba(130, 115, 252, 0.05);
  transition: all 0.5s;
}

.feature .feature_box:hover i {
  color: white;
  background-color: #ff6600;
}

/* END FEATURE */

/*  */

/* TASTE  */

.taste {
  background: url(../img/banner2.jpg) no-repeat center / cover;
  color: white;
  position: relative;
  z-index: 1;
}

.taste::before {
  content: "";
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgb(16 15 19 / 66%);
  position: absolute;
  z-index: -1;
}

.taste .taste_content h2 {
  font-size: 45px;
  line-height: 55px;
  font-weight: 600;
  color: white;
}

.number {
  margin-top: -70px;
  position: relative;
  z-index: 2;
}
/* Phải có position thì mới chỉnh được các giá trị top, left, right, bottom, z-index */

.number .col-6 .number_list {
  background-color: white;
  box-shadow: rgba(1, 1, 1, 0.05) 1px 1px 5px 0px;
  text-align: center;
  padding: 30px 20px;
  transition: all 0.3s;
}

.number .col-6 i {
  background: #ff6600;
  font-size: 26px;
  border-radius: 50%;
  width: 68px;
  height: 68px;
  line-height: 68px;
  color: #fff;
  text-align: center;
}

.number .col-6:hover .number_list {
  transform: translateY(-0.25rem);
  box-shadow: rgba(46, 41, 51, 0.08) 0px 2px 4px,
    rgba(71, 63, 79, 0.16) 0px 5px 10px;
}

/* END TASTE  */

/*  */

/* VIDEO */

.video .container {
  margin: 0 120px;
}

.video .video_img .btn {
  z-index: 1;
}

.video .video_img {
  background: url(../img/banner3.jpg) no-repeat center;
  min-height: 500px;
}

.video .video_img::before {
  content: "";
  background: rgb(16 15 19 / 60%);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 6px;
}

.video .fa-play {
  display: inline-block;
  width: 80px;
  height: 80px;
  font-size: 26px;
  text-align: center;
  line-height: 78px;
  border-radius: 50%;
  color: #ff6600;
  background: white;
  border: transparent;
  transition: all 0.3s;
  animation: ripple 1s linear infinite;
}

.video .fa-play:hover {
  color: white;
  background-color: #ff6600;
  transform: scale(1.2);
}

.video .modal-content {
  background-color: rgba(0, 0, 0, 0.8);
  padding: 10% 0;
}

.video .modal-content .btn-close {
  right: 24%;
  top: 15%;
}

/* END VIDEO */

/*  */

/* BLOG */

.blog {
  background-color: #f7f7f7;
}

.card_img img {
  border-radius: 7px;
}

.blog a {
  text-decoration: none;
  color: #232121;
  font-size: 16px;
  font-weight: 700;
}

.car_body a {
  font-size: 24px;
  line-height: 34px;
  font-weight: 600;
}

.car_footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.car_footer a img:first-child {
  border-radius: 50%;
}

.footer_right a i {
  padding-left: 5px;
}

.footer_right a:hover {
  color: #ff6600;
}

/* ENDBLOG */

/*  */

/* CAROUSEL*/

.carousel .carousel-indicators button {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #d8d8d8;
  transition: all 0.5s;
}

.carousel .carousel-indicators button.active,
.carousel .carousel-indicators button:hover {
  background-color: #ff6600;
}

.carousel .carousel-item img {
  width: 85px;
  height: 85px;
}

.carousel .carousel-item i {
  font-size: 22px;
  color: #ff6600;
}

.carousel .carousel-item q {
  font-size: 24px;
  line-height: 36px;
  font-weight: 600;
  font-style: italic;
  color: #232121;
}

.carousel .carousel-item h3 {
  font-size: 20px;
  font-weight: 600;
}

.carousel .carousel-item p:last-child {
  font-size: 18px;
  opacity: 0.8;
}

/* ENDCAROUSEL */

/*  */

/* FOOTER */

footer {
  background-color: black;
}

footer .text_color {
  font-size: 17px;
  line-height: 26px;
  color: #a5a2a1;
}

footer .row .text_hover {
  transition: all 0.5s;
}

footer .row .text_hover:hover {
  color: #ff6600 !important;
}

footer .social a {
  display: inline-block;
  width: 36px;
  height: 36px;
  line-height: 36px;
  text-align: center;
  border-radius: 5px;
  background-color: white;
  color: #ff6600;
  margin-right: 8px;
}

footer .social a:hover {
  background-color: #ff6600;
  color: white;
}

footer .text_title {
  font-size: 22px;
  font-weight: 700;
  line-height: 28px;
  margin-bottom: 30px;
  color: white;
}

footer .form-control {
  padding: 14px 20px;
}

footer .input_form .form-control:focus {
  border-color: #ff6600;
  outline: none;
}

footer .copy_color {
  color: #ff6600;
  transition: all 0.5s;
}

footer .copy_color:hover {
  color: white;
}

footer .footer_bottom {
  color: #ddd;
  background: black;
  font-size: 17px;
  padding: 20px 0;
  border-top: 1px solid rgb(255 255 255 / 5%);
}

/* END FOOTER */

/*  */

/* BACK TO TOP */

.backToTop {
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  font-size: 18px;
  color: white;
  background: #ff6600;
  position: fixed;
  bottom: 55px;
  right: 20px;
  border-radius: 35px;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s;
  z-index: 99;
}

.cd-top--is-visible {
  visibility: visible;
  opacity: 1;
}

/* KEYFRAMES */

@keyframes ripple {
  0% {
    box-shadow: 0 0 0 0 rgb(255 255 255 / 25%),
      0 0 0 10px rgb(255 255 255 / 25%), 0 0 0 20px rgb(255 255 255 / 25%);
  }

  100% {
    box-shadow: 0 0 0 10px rgb(255 255 255 / 25%),
      0 0 0 20px rgb(255 255 255 / 25%), 0 0 0 40px rgba(50, 100, 245, 0);
  }
}

/* RESPONSIVE */

@media screen and (max-width: 992px) {
  .video .video_img {
    min-height: 400px;
  }

  footer .social,
  footer .footer_bottom .col-lg-8 {
    text-align: center;
  }
}

@media screen and (max-width: 576px) {
  header .header_content .navbar form {
    display: none;
  }

  .table_book .table_book_left {
    min-height: 250px;
  }

  .number {
    margin-top: 0;
  }
}
